<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href="{{url_for('static', filename='css/base.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  {% block meta %}{% endblock %}
  <title>{{title}}</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
    <a href="{{url_for('index')}}"><img width="40px" height="40px" src="{{url_for('static', filename='img/main_page_icon.png')}}"></a>
      <form method="POST" class="container" action="{{ url_for('index')}}">
        <div class="input-group mb-3">
          <input name='search_bar' type="text" class="form-control" placeholder="Поиск" aria-label="search"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Искать</button>
        </div>
      </form>
      {% if current_user.is_authenticated %}
      <div class='b'>
        <a href="/users/{{session['user_id']}}">
          <button type='button' class='btn btn-outline-primary'>Аккаунт</button>
        </a>
      </div>
      <div class='b'>
        <a href='/logout'>
          <button type="button" class="btn btn-outline-secondary">Выйти</button>
        </a>
      </div>
      {% else %}
      <div class='b'>
        <a href='/login'>
          <button type='button' class='btn btn-outline-primary'>Войти</button>
        </a>
      </div>
      <div class='b'>
        <a href='/register'>
          <button type="button" class="btn btn-outline-secondary">Зарегистрироваться</button>
        </a>
      </div>
      {% endif %}
    </nav>
  </header>
  <!-- Begin page content -->
  <main role="main" class="container">
    {% block content %}{% endblock %}
  </main>
</body>

</html>